.hero {
    background: hsl(0, 0%, 100%);

    .hero-title {
        color: hsl(233, 26%, 24%);
        font-size: 3.7rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .hero-desc {
        font-size: 18px;
        font-weight: 500;
        color: hsl(233, 8%, 62%);
        line-height: 1.6;
        text-align: left;
        margin-bottom: 2rem;
    }

    .wrapper {
        display: flex;
        align-items: center;

        .right-hero,
        .left-hero {
            flex: 1;
        }

        .left-hero {
            padding: 5rem;

            .hero-btn {
                border: none;
                font-size: 16px;
                color: hsl(220, 16%, 96%);
                background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                padding: .8rem 2rem;
                font-weight: bold;
                cursor: pointer;
                border-radius: 30px;
                margin-bottom: 1.2rem;
            }
        }

        .right-hero {
            position: relative;
            display: block;
            width: 100%;
            background-image: url("/bg-intro-desktop.svg");
            background-repeat: no-repeat;
            background-position: 3rem -15rem;

            .frame {
                position: relative;
                width: 100%;
            }
        }

        .hero-img {
            max-width: 95%;
            position: relative;
            top: -6em;
        }
    }

    @media (max-width:900px) {
        .hero-title {
            font-size: 2.7rem !important;
        }
    }

    @media (max-width: 600px) {

        text-align: center;

        .hero-title {
            font-size: 2.4rem;
        }

        .hero-desc {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .wrapper {
            flex-direction: column;

            .left-hero {
                order: 4;
                padding: 2rem;
            }

            .right-hero {
                order: 1;
                position: relative;
                display: block;
                width: 100%;
                background-image: url("/bg-intro-desktop.svg");
                background-repeat: no-repeat;
                background-position: 3rem -15rem;

                .frame {
                    height: fit-content !important;
                }
            }

            .hero-img {
                object-fit: cover;
                position: relative;
                max-width: 100% !important;
                top: -5em;
                right: 0;
            }

        }
    }

    @media (max-width: 375px) {

        text-align: center;

        .hero-title {
            font-size: 2.2rem !important;
        }

        .wrapper {

            .right-hero {

                .frame {
                    height: 350px !important;
                }
            }
        }
    }
}