.hero {
    background: hsl(0, 0%, 100%);
    max-width: 1240px;
    margin: 0 auto;

    .hero-title {
        color: hsl(233, 26%, 24%);
        font-size: 3.7rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .hero-desc {
        font-size: 18px;
        font-weight: 500;
        color: hsl(233, 8%, 62%);
        line-height: 1.6;
        text-align: left;
        margin-bottom: 2rem;
    }

    .wrapper {
        display: flex;
        align-items: center;

        .right-hero,
        .left-hero {
            flex: 1;
        }

        .left-hero {

            .hero-btn {
                border: none;
                font-size: 16px;
                color: hsl(220, 16%, 96%);
                background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                padding: .8rem 2rem;
                font-weight: bold;
                cursor: pointer;
                border-radius: 30px;
            }
        }

        .right-hero {
            position: relative;
            margin: 0 auto;
            width: auto;
            height: 500px;
        }

        .hero-img {
            max-width: 95%;
            height: auto;
            object-fit: contain;
            position: absolute;
            top: -10%;
            right: 0;
        }
    }
}