header {
    background: hsl(0, 0%, 98%);
    padding: 1rem;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

    .wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-btn {
        border: none;
        font-size: 16px;
        color: hsl(220, 16%, 96%);;
        background: linear-gradient(to  right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
        padding: .8rem 2rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 30px;
    }

    .middle {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .header-link {
        text-decoration: none;
        color: hsl(233, 8%, 62%);
        font-weight: 600;
        font-size: 16px;
        box-sizing: content-box;

        &:hover {
            color: hsl(233, 26%, 24%);
        }
    }

        @media (max-width: 600px) {
    
            .middle {
                display: none;
            }
        }

}