$Bright_cyan: hsl(233, 26%, 24%);
$Lime_green: hsl(136, 65%, 51%);
$Dark_blue: hsl(192, 70%, 51%);
$Grayish_Blue: hsl(233, 8%, 62%);
$Light_Grayish_Blue: hsl(220, 16%, 96%);
$Very_Light_Gray: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1rem;
}